@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.preview > svg {
  transform: scale(0);
  transition: all 0.3s ease-out;
}
.preview:hover > svg {
  transform: scale(2.2);
}
